@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --primary: #023047;
  --secondary: #7b2cbf;
  --tersier: #313131;
  --text-secondary: #ffbe0b;
  --option-primary: #fafafa;
  --option-secondary: #3b3b3b;
}
